


body{
    background-color: #F78812;
    margin: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #51050F;
    text-align: center; 
}

.welcometext{
    width: 35%;
    margin: auto;
    text-align: left;
}

.top{
    text-align: right;
}

.title{
    width: 35%;
    margin: auto;
    text-align: left;
    line-height: 1.0;
   
}

.title2{
    margin: auto; 
    display: inline-block;
}

.listclass{
    position: relative;
    left: 20px;
    display:inline-block;
    text-align: left;
}

.list{
    display: inline-block;   /* div wird nur so gross wie der inhalt */ 
	text-align: left; 
    list-style-position: inside;
    padding-left: 0px;

}

.listpic{
    width: 50px;
    height: auto;
    float: left;
    margin-top: 0;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 0;
    color: #E02401;
}


p{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 1.2rem;  /* verggrösserung in bezug auf die root-grösse */
}

.karl{
    width: 150px;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 50%;
    padding: 5px;
    border: 5px solid black;
    background-color:#AB6D23 ; 
}


.MySkillz{
margin-left: auto;
margin-right: auto;
display: inline-block;
}


.riu{
    width: auto;
    height: 100px;
}

.eiche{
    top: 50px;
    width: 70px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 15px;
    float: right;
}

hr{
    border: dotted #AB6D23 2px;
    border-bottom: none;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topcloud{
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}


.topcontainer{
    display: inline-block;
    top: 60px;
    background-color: #F78812;  
   
}


.bottomcontainer{
    background-color: #F78812;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1{
    top: 30px;
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 300%;
    color: #51050F;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

h2{
    color: #51050F;
}


.Edu-title{
    text-align: center;
}


.BUTTON_KXE {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border:#51050F 2px;
    border-radius: 20px;
    color: #51050F;
    font-family: Arial;
    font-size: 20px;
    font-weight: 200;
    font-weight: 100;
    padding: 10px;
    background-color: #AB6D23;
    border: 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    size: 120%;
 }
 
 .BUTTON_KXE:hover {
    background: #AB6D23;
    border:#51050F 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: underline;
    size: 120%;
 }

 .introduction{
     width: 600px;
     text-align: left;
     font-family: 'Open Sans Condensed', sans-serif;
     color: #51050F;
     font-size: 16px;
     margin-top:-15px;
     margin-left: 0%;
     line-height:150%;
     padding-left: 0px;

 }

 