


body{
    background-color: #F78812;
    margin: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    color: #51050F; 
}


.welcometext{
    width: 35%;
    margin: auto;
    text-align: left;
}

.top{
    text-align: right;
}

.title{
    width: 35%;
    margin: auto;
    text-align: left;
   
}

.Hobbies{
    position: relative;
    left: 20px;
    display:inline-block;
    margin: auto;  
    text-align: left;
}
.hobbies{
    display: inline-block;   /* div wird nur so gross wie der inhalt */ 
	text-align: left; 
    margin-left: auto;
    margin-right: auto;

}

.title2{
    margin: auto; 
    display: inline-block;
}

p{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 1.2rem;  /* verggrösserung in bezug auf die root-grösse */
}

.karl{
    width: 200px;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 50%;
    padding: 5px;
    border: 5px solid black;
    background-color:#AB6D23 ; 
}

.hobbypic{
    width: 100px;
    height: auto;
    margin-right: 15px;
    float: left;
    
    
}

.edupic{
    width: 100px;
    height: auto;
    float: left;
    margin-right: 15px;

}

.MySkillz{
margin-left: auto;
margin-right: auto;
display: inline-block;
}

.Computer{
    width: 100px;
    height: auto;
    float: left;
    margin-right: 15px;
    
}

.riu{
    width: auto;
    height: 150px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.eiche{
    top: 50px;
    width: 180px;
    height: auto;
    margin-bottom: 20px;
    float: left;  
    margin-right: 10px; 
}

hr{
    border: dotted #51050F 3px;
    border-bottom: none;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topcloud{
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.skills{
    position: relative;
    left: 20px;
    display:inline-block;
    margin: auto;  
    text-align: left;  
}


.topcontainer{
    display: inline-block;
    top: 60px;
    background-color: #F78812;  
}


.bottomcontainer{
    background-color: #F78812;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1{
    top: 30px;
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 300%;
    color: #51050F;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

h2{
    top: 10px;
    color: #51050F;
    text-align: left;
}

.Edu{
    text-align: center;
    display: inline-block;
}

.education{
    display: inline-block; 
	text-align: left; 

}

.pro{
    text-decoration: none;
}

.BUTTON_KXE {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #51050F;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    background-color: #AB6D23;
    border: solid #000000 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_KXE:hover {
    background: #D0A91E;
    border: black 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }